@import 'colors';

* {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
	color: $color-cinza-400;
}

// Heading

h1, h2, h3, h4, h5, h6 {
	color: $color-cinza-600;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 24px;
}

// Text colors

.text-link {
	color: $color-info;
}

.text-success {
	color: $color-success;
}

.text-error {
	color: $color-error
}

.text-alert {
	color: $color-alert;
}

// Titles

.so-title {
	font-size: 22px;
	color: $color-cinza-600;
}